# dependencies
/node_modules

/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml

# misc
.DS_Store

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
yarn.lock

package-lock.json
npm-debug.log*
composer.lock
